@font-face {
    font-family: 'karla';
    src: url(./fonts/Karla/Karla-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Inter';
    src: url(./fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

body {
    background-color: #1C1C1C;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 100px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Inter';
    font-style: normal;
}

.app {
    background-color: #1F2937;
    position: absolute;
    width: 550px;
    height: 737px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
        

}

.mainHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px;
    
    width: 550px;
    left: 0px;
    top: 0px;
    
    background: #6943FF;

}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 510px;
    align-items: center;
    padding: 32px 20px;
    gap: 20px;
    
}



.card {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    width: auto;
    align-self: stretch;
    background: #273549;
    border-radius: 4px;
    padding: 16px 14px;
}

h1 {
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    color: white;
    margin: 0px;
    padding-bottom: 20px;
    
}

h3 {
    height: 25px;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 0px;
    
    text-align: center;

    color: #CCC1FF !important;
}

h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0px;
    color: #FFFFFF;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    
    text-align: center;
    margin: 0px;
    color: #FFFFFF;
}

input {
    display: flex;
    background-color: #6943FF;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    width: 120px;
    height: 80px;

    border: 2px solid #B295FF;
    border-radius: 5px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    color: white;
    font-size: 58px;
    line-height: 60px;
    text-align: center;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 28px;
    gap: 8px;
    margin-top: 20px;
    
    width: 120px;
    height: 42px;
    
    background: #FFFFFF;
    padding: 0;
    border: none;

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    
    /* text */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #3D3D3D;
}

button:hover {
    background: #F1F1F1;
}

/* .error {
    display: flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 5px;
    background: rgba(210, 28, 28, 0.80);
} */